<div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="1000px">
        <form class="mt-60" #buscaForm="ngForm"></form>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Consulta</mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt-20">
                <div fxLayout="row">
                    <div fxLayout="column" fxFlex="950px">
                        <mat-form-field class="full-width">
                            <mat-label>Nome:</mat-label>
                            <input matInput type="text" name="" id="" placeholder="ex: José">
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button type="submit" mat-flat-button color="accent">
                    <mat-icon fontIcon="search"></mat-icon>
                    pesquisar
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>